.user-panel {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.user-panel button {
  margin-right: 2rem;
  width: auto;
  display: inline-block;
}

.user-panel p {
  margin-left: 2rem;
}

button:disabled {
  background-color: dimgrey;
  color: linen;
  opacity: 1;
}

.login-container {
  position: relative;
  transition: all 0.3s ease;
  max-width: 400px;
  margin: 0 auto;
}

.login-container:not(.visible) {
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.login-container.visible {
  visibility: visible;
  opacity: 1;
  height: auto; 
}