.user-panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user-panel button {
    margin-right: 2rem;
    width: auto;
    display: inline-block;
}

.user-panel p {
    margin-left: 2rem;
}